@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 30% 98%;   /* 极浅粉白 */
    --foreground: 345 10% 20%; /* 柔棕 */
    --border: 340 20% 90%;     /* 浅粉边框 */
  }
}

body {
  background-color: hsl(0, 30%, 98%);
  color: hsl(345, 10%, 20%);
}
